/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    /* Herda a fonte definida no body */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    /* Herda a cor do elemento pai */
}