/* Arquivo principal que importa todos os outros */

@import url('reset.css');
@import url('_variables.css');
@import url('global.css');

/* Componentes */
@import url('components/_header.css');

/* Seções */
@import url('sections/_home.css');
/* NOVA LINHA */