.header .container {
    display: flex;
    justify-content: space-between;
    /* Coloca o logo na esquerda e o menu na direita */
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    max-width: 200px;
    /* Ajuste o tamanho do seu logo conforme necessário */
}

.header nav ul {
    display: flex;
    gap: 30px;
    /* Espaçamento entre os itens do menu */
    align-items: center;
}

.header nav a {
    font-family: var(--fonte-principal);
    font-weight: 700;
    padding: 10px;
    transition: color 0.3s;
    /* Efeito suave na mudança de cor */
}

.header nav a:hover {
    color: var(--cor-dourado);
    /* Muda para dourado ao passar o mouse */
}

.btn-contato {
    background-color: var(--cor-vermelho);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-contato:hover {
    background-color: #e74c3c;
    /* Um vermelho um pouco mais claro */
    color: var(--cor-texto);
    /* Garante que a cor do texto não mude */
    transform: scale(1.05);
    /* Efeito de crescimento sutil */
}