#home {
    min-height: calc(100vh -85px);
    /* Ocupa a altura total da tela menos a altura do header */
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* Espaçamento entre os elementos */
}

.home-texto {
    flex: 1;
    /* Ocupa o espaço disponível */
}

.home-texto h1 {
    font-family: var(--font-principal);
    font-size: 4rem;
    /* Tamanho grande para destaque */
    color: var(--cor-dourado);
    margin-bottom: 1rem;
    ;
}

.home-text p {
    font-size: 1.25rem;
    line-height: 1.6;
    /* Espaçamento entre linhas para melhor leitura */
    margin-bottom: 2rem;
}

.btn-principal {
    display: inline-block;
    /* Para que o padding funcione corretamente */
    background-color: var(--cor-dourado);
    color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-principal:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(218, 165, 32, 0.5);
    /* Efeito de brilho dourado */
}

.home-imagem {
    flex: 1;
    text-align: center;
    /* Centraliza a imagem horizontalmente */
}

.home-imagem img {
    max-width: 100%;
    height: auto;
    animation: flutuar 3s ease-in-out infinite;
    /* Animação de flutuar */
}

/* Animação para efeito de flutuar */
@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}